{
    "presets": [
        "@babel/typescript"
    ],
    "plugins": [
        "minify-dead-code-elimination",
        "minify-simplify"
    ],
    "env": {
        "production": {
            "presets": [
                "minify"
            ]
        }
    }
}
