# dependencies
bower_components/
node_modules/
vendor/

# package manager files
npm-debug.log*
yarn-error.log
yarn.lock
shrinkwrap.yaml

# development
*.map
.circleci/
.editorconfig
demo/
src/
test/
types/
tsconfig.tsbuildinfo

# project specific
test.js
test.ts
todo.md

# files
.gitignore
.travis.yml
gulpfile.js
tsconfig.json
tslint.json
